/**********************************
GENERAL
***********************************/
html{
  height: 100%;
}
body {
  font-family: 'Times New Roman', Times, serif; 
  height: 100%;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 150px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
  position: relative;
}

h3 a{
  position:absolute; 
}


/**********************************
HEADING
***********************************/

header {
  float: center;
  padding: 5px 0 0 0;
  width: 100%;
  position: fixed;
  top: 0;
}

h1 {
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}


/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  z-index: 2;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

nav a.selected, nav a:hover {
  text-decoration: underline;
}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
}


/**********************************
SECTION: FRONT PAGE
***********************************/
#cover {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
  url("../img/cover_color.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cover-text{
  text-align: center;
  position: absolute;
  /* padding: 4vh; */
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/**********************************
SECTION: ABOUT
***********************************/

#about img{
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  float: left;
  border-radius: 100%;
}

/**********************************
SECTION: SKILLS
***********************************/

.container{
  max-width: 100%;
}

#skills p{
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
}

.java {width: 80%;}
.python {width: 70%;}
.webdev {width: 60%;}
.cpp {width: 50%;}

/**********************************
SECTION: RESUME
***********************************/

#resume-content{
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
}

#resume-content img {
  margin: auto;
  width: 150px;
}


/**********************************
SECTION: CONTACT
***********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.github a {
  background-image: url('../img/github.jpg');
}

.contact-info li.linkedin a {
  background-image: url('../img/linkedin.png');
}


/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* header */
header {
  background: rgba(57,63,77,0.9);
  border-color: #b3b3cc;
}

/* Cover text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #0F77BD;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/*skills*/
.container{
  background-color: #ddd;
}

#skills p{
  color: white;
  background-color: #a3a3c2;
}

/*Resume*/
#resume-content{
  color: #3d3d5c;
}

/*footer*/
footer{
  color: #ccc;
}
















